*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
}
.h1{
    display: flex;
    gap: 2cm;
}
.h1 img{
    position: absolute;
    width: 41px;
    height: 41px;
    left: 3cm;
    top: 56px;

}
.a{
    position: absolute;
    left: 3.3cm;
    top: 59px;
    color: #fff;
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
}
.h1 h3{
    position: absolute;
    left: 4.5cm;
    top: 60px;


}
.h2{
    display: flex;
    gap: 1cm;
    position: absolute;
    left: 20cm;
    top: 60px;

}
.h2 p{
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color:#7D7987 ;
}
.banner{
    position: absolute;
    left: 0px;
    right: 96.79%;
    top: 150px;
    bottom: 96.65%;
}
.b{
    position: absolute;
    left: 3cm;
    top: 250px;
    bottom: 93.27%;
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
   
}
.d{
    position: absolute;
    left: 3cm;
    top: 360px;
    bottom: 91.21%;
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #7D7987;
    mix-blend-mode: normal;
}
.g{
    background-color: #458FF6;
    position: absolute;
    left: 5cm;
    top: 500px;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    text-align: center;
    padding: 1rem;
    color: #fff;
    
}
.banner2{
    position: absolute;
    left: 18cm;
    top:  140px;
    bottom: 86.8%;
}
.nav2{
    padding: 10cm;
}
.x{
    text-align: center;
    position: absolute;
    top: 700px;
    left: 14cm;
    padding: 1cm;
}
.s{
    position: absolute;
    width: 56px;
    height: 2px;
    left: 16.5cm;
    top: 800px;
    background-color: black;
}
.nav3{
    position: absolute;
    top: 830px;
    left: 8cm;

}
.y{
    color: #7D7987;
}
.av{
    position: absolute;
    top: 940px;
    left: -2cm;
}
.ab{
    position: absolute;
    top: 1200px;
    right: 3.5cm;
}
.item1{
    position: absolute;
    top: 970px;
    left: 5cm;
    background-color: #fff;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color:#E5E5E5;
    padding: 0.9cm;
}
.item1 p{
    color:#7D7987 ;
}
.item2{
    position: absolute;
    top: 970px;
    left: 14cm;
    background-color: #fff;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color:#E5E5E5;
    padding: 0.9cm;

}
.item2 p{
    color:#7D7987 ;
}
.item3{
    position: absolute;
    top: 970px;
    left: 23cm;
    background-color: #fff;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color:#E5E5E5;
    padding: 0.9cm;
}
.item3 p{
    color: #7D7987;
}
.item4{
    position: absolute;
    top: 1300px;
    left: 5cm;
    background-color: #fff;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color:#E5E5E5;
    padding: 0.9cm;
}
.item4 p{
    color: #7D7987;
}
.item5{
    position: absolute;
    top: 1300px;
    left: 14cm;
    background-color: #fff;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color:#E5E5E5;
    padding: 0.9cm;

}
.item5 p{
    color: #7D7987;
}
.item6{
    position: absolute;
    top: 1300px;
    left: 23cm;
    background-color: #fff;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color:#E5E5E5;
    padding: 0.9cm;
}
.item6 p{
    color: #7D7987;
}
.banner3{
    position: absolute;
    top: 1680px;
    left: 15.7cm;
    height: 50px;
    width: 150px;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color:#458FF6;
    text-align: center;
    padding: 0.4cm;
    color: #458FF6;
    
}
.selection{
    position: absolute;
    top: 1900px;
    left: 3cm;
    
}
.chu1{
    position: absolute;
    top: 2000px;
    right: 3.5cm;
    font-size: 44px;


}
.de{
    position: absolute;
    top: 2150px;
    right: 2.6cm;
    font-size: 20px;
    color: #7D7987;
    
}
.ad{
    position: absolute;
    width: 56px;
    height: 2px;
    right: 11.5cm;
    top: 2130px;
    background-color: black;
}
.banner4{
    position: absolute;
    top: 2300px;
    right: 9cm;
    height: 50px;
    width: 150px;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color:#458FF6;
    text-align: center;
    padding: 0.4cm;
    color: #458FF6;
    
}
.banh{
    position: absolute;
    top: 2400px;
    right: 0cm;
}
.main1{
    position: absolute;
    top: 2700px;
    right: 2cm;
}
.chu2{
    position: absolute;
    top: 2750px;
    left: 3cm;
    font-size: 45px;

}
.sp{
    position: absolute;
    width: 56px;
    height: 2px;
    top: 2890px;
    left: 3.1cm;
    background-color: black;
}
.de1{
    position: absolute;
    top: 2950px;
    left: 3cm;
    font-size: 20px;
    color: #7D7987;

}
.banner5{
    position: absolute;
    top: 3100px;
    left: 3cm;
    height: 50px;
    width: 150px;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color:#458FF6;
    text-align: center;
    padding: 0.4cm;
    color: #458FF6;
}
.ki{
    position: absolute;
    top: 3118px;
    left: 6.2cm;
}
.main3{
    position: absolute;
    top: 3400px;
    left: 3.5cm;

}
.nav5{
    position: absolute;
    top: 3630px;
    left: 6cm;
}
.nav5 img{
    border-style: solid;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-color: #fff;
    
}
.nav6{
    position: absolute;
    top: 3663px;
    left: 2cm;
}
.lc{
    position: absolute;
    top: 3450px;
    left: 12cm;
    color: #fff;
    font-family: 'Muli';
    font-style:inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}
.lc2{
    position: absolute;
    top: 3675px;
    left: 10.5cm;
    font-size: 22px;
    color: #fff;
}
.lc3{
    position: absolute;
    top: 3710px;
    left: 10.5cm;
    font-size: 18px;
    color:#E5E5E5;
}
.lc4{
    position: absolute;
    top: 3663px;
    right: 7cm;
    font-size: 18px;
    color:#E5E5E5;
}
.ac{
    position: absolute;
    width: 56px;
    height: 2px;
    top: 3520px;
    left: 17.5cm;
    background-color: #fff;
}
.lc5{
    position: absolute;
    top: 3410px;
    right: 2cm;
    
}
.lc5 img{
    color: #fff;
}
.banner6{
    position: absolute;
    top: 3880px;
    left: 13cm;
}
.jk{
    position: absolute;
    top: 4100px;
    left: 12.5cm;
   

}
.ak{
    position: absolute;
    width: 56px;
    height: 2px;
    top: 4150px;
    left: 16.5cm;
    background-color: black;
}
.banner7{
    position: absolute;
    top: 4210px;
    left: 2cm;

}
.banner8{
    position: absolute;
    top: 4210px;
    right: -1cm;
}
.the1{
    position: absolute;
    top: 4250px ;
    left: 3.3cm;
    height: 520px;
    width: 350px;
    background-color:#fff;
    border-style: solid;
    border-color: #E5E5E5;
    border-radius: 20px;
}
.the1 img{
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
    height: 246px;
    width: 345px;
}
.chu3{
    position: absolute;
    top: 4530px ;
    left: 4.2cm;
    font-size: 25px;
}
.chu4{
    position: absolute;
    top: 4600px ;
    left: 4.2cm;
    font-size: 18px;
    color: #7D7987;
}
.chu5{
    position: absolute;
    top: 4700px ;
    left: 4.2cm;
    font-size: 19px;
    color: #458FF6;
}
.icon1{
    position: absolute;
    top: 4704px ;
    left: 6.9cm;
}
.the2{
    position: absolute;
    top: 4250px ;
    left: 13.3cm;
    height: 520px;
    width: 350px;
    background-color:#fff;
    border-style: solid;
    border-color: #E5E5E5;
    border-radius: 20px;
}
.the2 img{
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
    height: 246px;
    width: 345px;
}
.chu6{
    position: absolute;
    top: 4530px ;
    left: 14cm;
    font-size: 25px;
}
.chu7{
    position: absolute;
    top: 4600px ;
    left: 14cm;
    font-size: 18px;
    color: #7D7987;
}
.chu8{
    position: absolute;
    top: 4700px ;
    left: 14cm;
    font-size: 19px;
    color: #458FF6;
}
.icon2{
    position: absolute;
    top: 4704px ;
    left: 16.8cm;
}
.the3{
    position: absolute;
    top: 4250px ;
    left: 23.3cm;
    height: 520px;
    width: 350px;
    background-color:#fff;
    border-style: solid;
    border-color: #E5E5E5;
    border-radius: 20px;
}
.the3 img{
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
    height: 246px;
    width: 345px;
}
.CHU9{
    position: absolute;
    top: 4530px ;
    left: 24cm;
    font-size: 25px;
}
.chu10{
    position: absolute;
    top: 4600px ;
    left: 24cm;
    font-size: 18px;
    color: #7D7987;
}
.chu11{
    position: absolute;
    top: 4700px ;
    left: 24cm;
    font-size: 19px;
    color: #458FF6;
}
.icon3{
    position: absolute;
    top: 4704px ;
    left: 26.8cm;
}
.banner9{
    position: absolute;
    top: 4850px;
    left: 15.5cm;
    height: 50px;
    width: 150px;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color:#458FF6;
    text-align: center;
    padding: 0.4cm;
    color: #458FF6;
}
.banner10{
    position: absolute;
    top: 5000px;
    right: 2cm;
}
.banner11{
    position: absolute;
    top: 5050px;
   
    

}
.footer{
    
    position: absolute;
    left: 1cm;
    top: 5200px;
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;

    
}
.footer img{
    position: absolute;
    width: 41px;
    height: 41px;
    left: 2cm;
    top: 50x;
    color: #fff;

}
.ap{
    position: absolute;
    top: 5205px;
    left: 3.3cm;
    color: black;
    font-size: 26px;
    color: #458FF6;
}
.af{
    position: absolute;
    top: 5206px;
    left: 4.5cm;
    color: #fff;
}
.ag{
    position: absolute;
    top: 5266px;
    left: 2.9cm;
    color: #fff;
    font-size: 18px;
}
.as{
    position: absolute;
    top: 5386px;
    left: 2.9cm;
    color: #fff;
    font-size: 18px;
}
.chu9{
    position: absolute;
    top: 5205px;
    left: 15cm;
    font-size: 20px;
    color: #fff;
    
}
.ab{
    position: absolute;
    top: 5260px ;
    left: 15cm;
    color: #FFFFFF;
    font-size: 18px;
}
.chu12{
    position: absolute;
    top: 5205px;
    left: 21cm;
    font-size: 20px;
    color: #fff;
}
.co{
    position: absolute;
    top: 5260px ;
    left: 21cm;
    color: #FFFFFF;
    font-size: 18px;
}
.chu13{
    position: absolute;
    top: 5205px;
    left: 26cm;
    font-size: 20px;
    color: #fff;
}
.fu{
    position: absolute;
    top: 5260px ;
    left: 26cm;
    color: #FFFFFF;
    font-size: 18px;
}


